:root {
  --text: #303030;
}

/* Containers */

.Container__fixed-header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0.2px gray;
}

.Container__content {
  margin-top: 56px;
}

.Container__padding--horizontal {
  padding-left: 20px;
  padding-right: 20px;
}

.Container__padding--vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Container__padding--vertical-small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Container__row--space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.Container__column--space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Container__center--horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Container__center--vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Container__alert {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Text */

.Text__header {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text);
}

.Text__subheader {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
}

.Text__subsubheader {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text);
}

.Text__paragraph {
  font-size: 17px;
  display: inline-block;
  word-break: break-word;
  white-space: pre-line;
  color: var(--text);
}

.Text__list {
  font-size: 17px;
  display: inline-block;
  word-break: break-word;
  white-space: pre-line;
  color: var(--text);
}

.Text__list li {
  margin-top: 10px;
}

.Text__elipsized--1-line {
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
  white-space: pre-line;
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.Text__elipsized--5-lines {
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

.Text__card-header {
  margin: 0px;
}

.Text__hint {
  color: #858585;
  font-size: 15px;
}

.Text__toggle {
  color: #858585;
  font-size: 15px;
  margin: 0px;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: auto;
  display: flex;
}

/* Toggles */

.Toggle-card {
  height: 60px;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.Toggle-card:hover {
  background-color: #f7f7f7;
  color: #725546;
}

.Fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  background-color: #8f6b58;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fab:hover {
  background-color: #725546;
  cursor: pointer;
}

/* Miscs */

.Line--horizontal {
  width: 100%;
  height: 0.5px;
  background-color: rgb(228, 228, 228);
}

.Line--vertical {
  width: 0.5px;
  height: 100%;
  background-color: rgb(228, 228, 228);
}

.Buffer--5px {
  width: 5px;
  height: 5px;
}

.Buffer--10px {
  width: 10px;
  height: 10px;
}

.Buffer--20px {
  width: 20px;
  height: 20px;
}

.Buffer--50px {
  width: 50px;
  height: 50px;
}

.Buffer--100px {
  width: 100px;
  height: 100px;
}

.Clickable {
  cursor: pointer;
}

.Clickable:hover {
  opacity: 0.7;
}
