/* Containers */

.Container__fixed-header {
  position: fixed;
  width: 100%;
  top: 0px;
}

.Container__content {
  margin-top: 63px;
}

.Container__padding--horizontal {
  padding-left: 20px;
  padding-right: 20px;
}

.Container__padding--vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Container__padding--vertical-small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Container__row--space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.Container__center--horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Container__center--vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Container__alert {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Text */

.Text__header {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #212121;
}

.Text__subheader {
  font-size: 20px;
  font-weight: 500;
  color: #212121;
}

.Text__subsubheader {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #212121;
}

.Text__paragraph {
  font-size: 17px;
  display: inline-block;
  word-break: break-word;
  color: #212121;
}

.Text__elipsized--5-lines {
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  color: #212121;
}

.Text__card-header {
  margin: 0px;
}

.Text__logo {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 25px;
  font-weight: 400;
}

/* Miscs */

.Fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  background-color: #0d6efd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fab:hover {
  background-color: #0b62e0;
}

.Line--horizontal {
  width: 100%;
  height: 0.5px;
  background-color: rgb(228, 228, 228);
}

.Line--vertical {
  width: 0.5px;
  height: 100%;
  background-color: rgb(228, 228, 228);
}

.Buffer--20px {
  width: 20px;
  height: 20px;
}

.Buffer--5px {
  width: 5px;
  height: 5px;
}

.Buffer--100px {
  width: 100px;
  height: 100px;
}
