:root {
  --text: #303030;
}

/* Containers */

.Container__fixed-header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0.2px gray;
}

.Container__padding--horizontal {
  padding-left: 20px;
  padding-right: 20px;
}

.Container__column--space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Container__center--horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Container__alert {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Text */

.Text__list {
  font-size: 17px;
  display: inline-block;
  word-break: break-word;
  white-space: pre-line;
  color: var(--text);
}

.Text__list li {
  margin-top: 10px;
}

.Text__card-header {
  margin: 0px;
}
